@import '~xterm/css/xterm.css';

body {
	color: #c0c0c0;
	scrollbar-color: #999 #555;
	background-color: #303030;
}

::-webkit-scrollbar {
	height: 12px;
	width: 12px;
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #999;
	-webkit-border-radius: 1ex;
	-webkit-box-shadow: 0px 1px 2px #444;
}

.float-logo {
	position: absolute;
	bottom: 0;
	right: 20px;
	z-index: 1000;
	opacity: 0.65;
}

#editor {
	height: 100%;
	width: 100%;
	/* Hide until editor control fully loads */
	opacity: 0;
}

#info {
	padding: 40px;
	padding-right: 65px;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	max-height: 100%;
	font-family: "Open Sans";
}

.wrapper {
	position: fixed;
	top: 49px;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: visible;

	background-color: #303030;

	opacity: 0;
}

#terminal {
	padding: 50px 50px 50px 50px;
}

.editor {
	height: 100%;
}

button {
	background-color: #304060;
	color: #e0f0ff;
	border: 2px solid;
	border-color: #e0f0ff80;
	outline: none !important;
}

button > * {
	padding: 4px;
	vertical-align: middle;
	height: 24px;
	color: #e0f0ff;
	stroke-width: 1.5px;
}

button:disabled {
	color: #757575;
	background-color: #454555;
	border-color: #e0f0ff40;
}

button:active {
	background-color: #5078a0;
	color: #ffffff;
}


button:disabled > * {
	color: #757575;
}

@media only screen and (max-width: 925px) {
	#buttonBar button {
		font-size: 0;
	}
}

#buttonBar {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	height: 43px;
	background-color: #406090;
	color: #ffffff;

	padding: 4px 2px 0px 4px;
	border: 1px solid transparent;
	border-bottom-color: #6898c8;
}

.tab {
	padding:4px 4px 4px 4px;
	width: 36px;
	height: 36px;
	color: #c8d8ff;
}

input {
	vertical-align: 78%;
}

[role="tablist"] {
	display: inline;
	vertical-align: bottom;
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

[role="tablist"] * {
	box-sizing: border-box;
}

/**
 * The tablist item
 */
[role="tablist"] li {
	display: inline-block;
}

/**
 * The tabs
 */

[role="tablist"] li {
	border-top-color: transparent;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	display: inline-block;
	margin-bottom: -1px;
	border: 1px solid #6898c8;
	border-bottom-color: transparent;
	padding: 2px 4px 4px 4px;
	background-color: #6898c830;
	outline: none !important;
}

[role="tablist"] li * {
	outline: none !important;
}

[role="tablist"] > [aria-selected="true"] {
	padding: 1px 3px 3px 3px;
	border: 2px solid #88b8e8;
	background-color: #6898c8;
	outline: none !important;
}

[role="tablist"] li:hover:not([aria-selected="true"]) {
	background-color: #6898c860;
	border: 2px solid #88b8e860;
	padding: 1px 3px 3px 3px;
}

.modal {
  display: none;
}

.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.vanilla-modal.modal-visible .modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}
.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

[data-modal-close] {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  background: #fff;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.2);
}
