@import '~@xterm/xterm/css/xterm.css';

body {
	color: #c0c0c0;
	scrollbar-color: #999 #555;
	background-color: #272822;
}

span[data-feather] {
	display: inline-block;
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	border-color: #20ff20;
}

::-webkit-scrollbar {
	height: 12px;
	width: 12px;
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 1ex;
	box-shadow: 0px 1px 2px #444;
}

.float-logo {
	position: absolute;
	bottom: 0;
	right: 20px;
	z-index: 1000;
	opacity: 0.65;
	font-family: "Open Sans";
}

#editor {
	height: 100%;
	width: 100%;
	/* Hide until editor control fully loads */
	opacity: 0;
	transition: opacity 700ms;
}

#info {
	padding: 40px;
	padding-right: 65px;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	max-height: 100%;
	font-family: "Open Sans";
}

.wrapper {
	position: fixed;
	top: 49px;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: visible;

	background-color: #272822;

	opacity: 0;
}

#terminal {
	padding: 50px 50px 50px 50px;
}

.editor {
	height: 100%;
}

button {
	background-color: #304060;
	color: #e0f0ff;
	border: 2px solid;
	border-color: #e0f0ff80;
	outline: none !important;
}

button > * {
	padding: 4px;
	vertical-align: middle;
	height: 24px;
	color: #e0f0ff;
	stroke-width: 1.5px;
}

button:disabled {
	color: #757575;
	background-color: #454555;
	border-color: #e0f0ff40;
}

button:active {
	background-color: #5078a0;
	color: #ffffff;
}


button:disabled > * {
	color: #757575;
}

@media only screen and (max-width: 925px) {
	#buttonBar button {
		font-size: 0;
	}
}

#buttonBar {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	height: 45px;
	background-color: #406090;
	color: #ffffff;

	padding: 2px 2px 0px 4px;
	border: 1px solid transparent;
	border-bottom-color: #6898c8;
}

#buttonBar button {
	margin: 3px 0 6px 0;
}

span[data-feather].tab {
	padding:4px 4px 4px 4px;
	width: 36px;
	height: 36px;
	color: #c8d8ff;
}

.tab {
	padding:4px 4px 4px 4px;
	width: 36px;
	height: 36px;
	color: #c8d8ff;
}

input {
	vertical-align: 78%;
}

[role="tablist"] {
	display: inline;
	vertical-align: bottom;
	align: right;
	list-style: none;
	margin: 0;
	padding: 0 0 0 30px;
}

[role="tablist"] * {
	box-sizing: border-box;
}

/**
 * The tablist item
 */
[role="tablist"] li {
	display: inline-block;
}

/**
 * The tabs
 */

[role="tablist"] li {
	border-top-color: transparent;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	display: inline-block;
	margin-bottom: -1px;
	border: 1px solid #6898c8;
	border-bottom-color: transparent;
	padding: 2px 4px 4px 4px;
	background-color: #6898c830;
	outline: none !important;
	transition: background-color 500ms, border-color 500ms;
}

[role="tablist"] li * {
	outline: none !important;
}

[role="tablist"] > [aria-selected="true"] {
	padding: 1px 3px 3px 3px;
	border: 2px solid #88b8e8;
	background-color: #6898c8;
	outline: none !important;
}

[role="tablist"] li:hover:not([aria-selected="true"]) {
	background-color: #6898c880;
	border: 2px solid #88b8e880;
	padding: 1px 3px 3px 3px;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
	font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
  
  .modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .modal__container {
	background-color: #fff;
	padding: 30px;
	max-width: 500px;
	max-height: 100vh;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
  }
  
  .modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .modal__title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.25;
	color: #00449e;
	box-sizing: border-box;
  }
  
  .modal__close {
	background: transparent;
	border: 0;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0,0,0,.8);
  }
  
  .modal__btn {
	font-size: .875rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: #e6e6e6;
	color: rgba(0,0,0,.8);
	border-radius: .25rem;
	border-style: none;
	border-width: 0;
	cursor: pointer;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
	will-change: transform;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform .25s ease-out;
	transition: transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
	transform: scale(1.05);
  }
  
  .modal__btn-primary {
	background-color: #00449e;
	color: #fff;
  }
  
  
  
  /**************************\
	Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
	  from { opacity: 0; }
		to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
	  from { opacity: 1; }
		to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
	from { transform: translateY(15%); }
	  to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
	  from { transform: translateY(0); }
	  to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
	display: none;
  }
  
  .micromodal-slide.is-open {
	display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
	will-change: transform;
  }
